<div class="p-4 sm:p-5 text-neutral-300">
    <div class="bg-neutral-800 rounded-2xl p-5 mb-6 shadow-md transition-all duration-300">
        <div class="flex items-center gap-3 mb-3">
            <img [src]="post.user_id.avatar" alt="[!] avatar" class="size-12 rounded-full border-2 border-neutral-600 object-cover"/>
            <div>
                <p class="text-neutral-100 font-semibold text-lg leading-none max-sm:text-sm">{{post.user_id.firstName}} {{post.user_id.lastName}}</p>
                <p class="text-neutral-400 text-xs leading-none">@{{post.user_id.username}}</p>
            </div>
            <div class="ml-auto ">
                <span class="text-neutral-500 text-sm max-sm:text-[10px]">{{post.created_at | date}}</span>
                @if (this.user.username === post.user_id.username || this.user.rol === 'admin') {
                    <div class="flex justify-center items-center">
                        <div class="bg-red-300 rounded-2xl px-2 py-1 flex cursor-pointer" (click)="showModal()">
                            <ng-icon name="faSolidTrash" class="size-5! text-red-500! max-sm:size-4!"></ng-icon>
                        </div>
                        @if (showDeleteOptions()) {
                            <div class="bg-black/60 fixed inset-0 flex items-center justify-center">
                                <div class="bg-neutral-300 rounded-2xl p-5 flex flex-col items-center gap-4">
                                    <div class="bg-red-300 flex p-2 rounded-full">
                                        <ng-icon name="faSolidCircleExclamation" class="size-8! text-red-500!"></ng-icon>
                                    </div>
                                    <p class="text-xl font-bold text-black">Eliminar publicación</p>
                                    <p class="text-sm text-neutral-600">Seguro quieres eliminar esta publicación?</p>
                                    <div class="flex gap-5">
                                        <button (click)="showModal()" class="text-neutral-800 font-semibold hover:scale-110 transition-all bg-neutral-400 text-md px-5 py-1 cursor-pointer">Cancelar</button>
                                        <button (click)="deletePost()" class="text-neutral-300 font-semibold hover:scale-110 transition-all bg-red-500 text-md px-5 py-1 cursor-pointer">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <h4 class="text-white font-semibold text-2xl max-sm:text-sm wrap-break-word">{{post.title}}</h4>
        <p class="text-neutral-300 mb-4 text-md max-sm:text-xs wrap-break-word">{{post.description}}</p>
        @if (post.url_img) {
            <div class="overflow-hidden mb-4 flex flex-col items-center">
                <img [src]="post.url_img" alt="Imagen del post" class="rounded-2xl sm:w-fit w-full object-cover cursor-pointer" (click)="toggleImageFull()" />
            </div>
            @if (this.showImageFull()) {
                <div class="overflow-hidden mb-4 flex flex-col items-center fixed inset-0 justify-center bg-black/80 cursor-pointer" (click)="toggleImageFull()">
                    <img [src]="post.url_img" alt="Imagen del post" class="rounded-2xl w-[1000px] max-sm:w-full object-cover cursor-pointer" />
                </div>
            }
        }
        <div class="flex items-center justify-between border-t border-neutral-600 pt-3">
            <div class="flex gap-6">
                <button [classList]="this.liked() ? this.likeStyles + 'text-red-400' : this.likeStyles + 'text-neutral-400'" (click)="addLikeorRemoveLike()">
                    <ng-icon name="faSolidHeart"></ng-icon>
                    <span >{{post.likes}}</span>
                </button>
                <button (click)="openComments()" class="flex items-center gap-1 text-green-400 hover:text-green-500 transition-colors duration-200 cursor-pointer">
                    <ng-icon name="faSolidCommentDots"></ng-icon>
                    <span>{{post.commentsCount}}</span>
                </button>
                <button class="flex items-center gap-1 text-blue-400 hover:text-blue-500 transition-colors duration-200 cursor-pointer">
                    <ng-icon name="faSolidShareFromSquare"></ng-icon>
                    <span>{{post.shared}}</span>
                </button>
            </div>
        </div>
        @if (showComments()) {
            <div class="mt-3 border-t border-b border-neutral-600 pt-3 pb-3">
                <app-comments [postId]="post._id" [user]="user" (commentAdded)="addCommentLocal()"></app-comments>
            </div>
        }
    </div>
</div>