<div class="bg-black/60 fixed inset-0 flex items-center justify-center z-60" [hidden]="!showModal()">
    <div class="bg-neutral-300 rounded-2xl p-5 flex flex-col items-center gap-4">
        <div class="bg-red-300 flex p-2 rounded-full">
            <ng-icon name="faSolidCircleExclamation" class="size-8! text-red-500!"></ng-icon>
        </div>
        <p class="text-xl font-bold text-black">Quedan 5 minutos de sesion</p>
            <p class="text-sm text-neutral-700">¿Desea extender su sesión?</p>
        <div class="flex gap-5">
            <button (click)="signOut()" class="text-neutral-300 font-semibold hover:scale-110 transition-all bg-red-500 text-md px-5 py-1 cursor-pointer">No</button>
            <button (click)="refreshToken()" class="text-neutral-300 font-semibold hover:scale-110 transition-all bg-green-600 text-md px-5 py-1 cursor-pointer">Si</button>
        </div>
    </div>
</div>