<nav class="py-2 flex justify-center bg-transparent">
    <div class="bg-linear-to-t from-neutral-950 to-neutral-600 px-2 rounded-2xl border border-neutral-900 flex items-center">
        <app-nav-button nameIcon="faSolidCube" title="Inicio" router="/"></app-nav-button>
        <div class="border border-neutral-600 w-0 h-[60%]"></div>
        <app-nav-button nameIcon="faSolidImages" title="Publicaciones" router="/posts"></app-nav-button>
        <div class="border border-neutral-600 w-0 h-[60%]"></div>
        <app-nav-button nameIcon="faSolidUserGear" title="Perfil" router="/profile"></app-nav-button>
        <div class="border border-neutral-600 w-0 h-[60%]"></div>
        <app-nav-button nameIcon="faSolidCircleRight" title="Cerrar sesión" [isLogout]="true" (click)="logOut()"></app-nav-button>
    </div>
</nav>
<router-outlet></router-outlet>