<div class="bg-neutral-800 m-5 rounded-2xl gap-2 justify-center p-5 flex flex-col items-center">
    <div class="flex items-center gap-2">
        <img [src]="user.avatar" alt="[!] avatar" class="size-12 rounded-full border-2 border-neutral-600 object-cover max-sm:size-10"/>
        <div>
            <p class="text-neutral-100 font-semibold text-lg leading-none max-sm:text-xs">{{user.firstName}} {{user.lastName}}</p>
            <p class="text-neutral-400 text-xs leading-none">@{{user.username}}</p>
        </div>
    </div>
    <form [formGroup]="postForm" class="w-[80%] max-sm:w-full flex flex-col gap-2" (submit)="sendDataPost()">
        <div class="flex flex-col">
            <label for="title" class="text-neutral-300 font-semibold max-sm:text-sm">Titulo <span class="text-red-700">*</span></label>
            <input id="title" formControlName="title" type="text" autocomplete="off" placeholder="Escriba el titulo de la publicación..." class="max-sm:text-xs bg-neutral-900/40 border border-neutral-600 rounded-md placeholder:text-neutral-500 px-4 py-1.5 text-white text-sm" appValidateErrorsInput [formGroup]="postForm" control="title">
        </div>
        <textarea
        formControlName="description"
        placeholder="¿Qué estás pensando?"
        rows="3"
        maxlength="2000"
        minlength="1"
        class="max-sm:text-xs w-full bg-neutral-900/40 text-neutral-300 border border-neutral-700 rounded-lg resize-none p-3 focus:outline-none focus:border-neutral-300 focus:ring-1 focus:ring-neutral-200 placeholder-neutral-500 text-sm"
        ></textarea>
        <div class="flex flex-col items-center text-center gap-3 p-4 border border-neutral-700 border-dashed rounded-xl bg-neutral-900/40 hover:border-neutral-500 transition-all duration-300 w-full">
            <input type="file" id="image" accept="image/png, image/jpeg, image/jpg, image/webp" class="hidden" (change)="onimageSelected($event)">
            <div class="flex flex-col justify-center items-center gap-2 w-full" appValidateErrorsInput [formGroup]="postForm" control="image">
                @if (imagePreview()) {
                    <div class="relative w-full max-w-md flex flex-col gap-3">
                        <img [src]="imagePreview()" alt="" class="w-full rounded-lg border border-neutral-600 object-cover shadow-md hover:shadow-lg transition-all duration-300"/>
                        <button type="button" (click)="removeImage()" class="text-xs text-red-400 underline" [disabled]="!imagePreview()">
                            <ng-icon name="heroTrashSolid" [classList]="imagePreview() ? 'size-5! text-red-400! cursor-pointer' : 'size-5! text-neutral-600! cursor-not-allowed'"/>
                        </button>
                    </div>
                } @else {
                    <label for="image" class="flex flex-col justify-center items-center w-full h-28 cursor-pointer rounded-xl border-2 border-dashed border-neutral-700 hover:border-neutral-500 hover:bg-neutral-800/50 transition-all">
                        <ng-icon name="faSolidImages" class="size-6! text-neutral-500! mb-1!"/>
                        <p class="text-neutral-500 text-sm font-medium">Selecciona una foto que quieras publicar</p>
                    </label>
                }
            </div>
        </div>
        <button class="bg-neutral-400 rounded-2xl font-semibold text-xl py-1.5 cursor-pointer disabled:bg-neutral-600 disabled:cursor-not-allowed" [disabled]="isDisabled()">Publicar</button>
    </form>
</div>