/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Inter', system-ui, sans-serif;
}